
    .button{
        border: none;
        background: #3040C4;
        font-size: 18px;
        color: #FFFFFF;
        padding: 17px 38px;
        border-radius: 2px;
        cursor: pointer;
        background:linear-gradient(180deg);
    }
    .button:hover{
        background:white;
        color: #3040C4;
        transition: 1s;
    }
    .input{
        width: 385px;
        padding: 17px 0 18px 15px;
        font-size: 18px;
        color: rgba(43, 41, 45, 0.2);
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid rgba(43, 41, 45, 0.2);
        box-sizing: border-box;
        border-radius: 2px;
    }
    .input:focus{
        outline: none;
    }
    .input::placeholder{
        font-size: 18px;
        color: rgba(43, 41, 45, 0.2);
    }
    .form__post{
        padding: 200px;
    }